<!DOCTYPE html>
<html ng-app="IndexApp" ng-controller="IndexCtrl" class="demo-4">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>app打包/上传/修改/删除</title>
		<!-- BOOTSTRAP STYLES-->
		<link href="../assets/css/bootstrap.css" rel="stylesheet" />
		<!-- FONTAWESOME STYLES-->
		<link href="../assets/css/font-awesome.css" rel="stylesheet" />
		<!--CUSTOM BASIC STYLES-->
		<link href="../assets/css/basic.css" rel="stylesheet" />
		<!--CUSTOM MAIN STYLES-->
		<link href="../assets/css/custom.css" rel="stylesheet" />
		<!-- GOOGLE FONTS-->
		<link rel="stylesheet" rev="stylesheet" href="../css/styleCSS.css" type="text/css">
		<script type="text/javascript" src="../js/jquery-2.0.2.min.js"></script>
		<!--<script src="assets/js/angular/angular.js"></script>-->
		<script src="../assets/js/angular/angular.min.js"></script>
		<!-- BOOTSTRAP SCRIPTS -->
		<script src="../assets/js/bootstrap.js"></script>
		<!-- METISMENU SCRIPTS -->
		<script src="../assets/js/jquery.metisMenu.js"></script>
		<!-- CUSTOM SCRIPTS -->
		<!--<script src="../assets/js/custom.js"></script>-->
		<script src="../js/modernizr.custom.63321.js"></script>
		<script src="../js/index.js"></script>
		<style>
			.minbtn{
				font-size: 12px;
			}
		</style>
	</head>

	<body>

		<div class="list-group-item" style="border: none;">
			<table class="table table-bordered table-hover ">
				<thead>
					<tr class="info">
						<th class="col-lg-4 col-sm-4 col-xs-4">组名</th>
						<th class="col-lg-4 col-sm-4 col-xs-4">描述</th>
						<th class="col-lg-4 col-sm-4 col-xs-4">
							操作
						</th>
					</tr>
				</thead>
				<tbody ng-repeat="app in groupList track by $index" ng-init="outerIndex = $index" style="border-top: 1px;" class="ng-scope">
					<tr>
						<td class="text-center" ng-bind="app.gname"></td>
						<td class="text-center" ng-bind="app.gdes"></td>
						<td>
							<button ng-click="btnDelAppParentInfo(app, $index)" title="删除信息" class="btn btn-danger">
						<i class="glyphicon glyphicon-trash"></i>
					</button>
							<button ng-click="btnAppDetailInfo(app, $index)" title="查看app信息" class="btn btn-warning">
						<i class="glyphicon glyphicon-eye-open"></i>
					</button>
						</td>
					</tr>

					<tr ng-show="checked == outerIndex &amp;&amp; back?true:false" style="font-weight: bold;font-size: 13px;background-color: #f7f7f7;" class="tr_height ng-hide">
						<td class="text-center" style="line-height: 20px;">项目名称</td>
						<td class="text-center" style="line-height: 20px;">项目描述</td>
						<!--<td class="text-center" style="line-height: 20px;">中文名</td>-->
						<td class="td_padding" style="line-height: 20px;">
							操作
							<!--<button ng-click="btnAddDetailInfo()" title="新增信息" class="btn btn-success pull-right">
						<i class="glyphicon glyphicon-plus"></i>
					</button>-->
				<button id="modal-267843" href="#modal-container-267843" role="button" class="btn-app btn_a" data-toggle="modal" ng-click="btnAddApp()">添加项目信息</button>
						</td>
					</tr>

					<tr  ng-show="checked == outerIndex &amp;&amp; detailList.length != 0&amp;&amp; back?true:false" ng-repeat="detail in detailList track by detail.pid" style="font-size: 13px;" class="tr_height ng-scope">
						<td ng-bind="detail.pname" class="text-center ng-binding"></td>
						<td ng-bind="detail.pdes" class="text-center ng-binding"></td>
						<td class="td_padding">
							
							<button  class="btn btn-success minbtn"  ng-click="btnPackageApp(detail)" style="margin: 0px;">
								打包
							</button>
							<button title="上传app信息" class="btn btn-primary minbtn">
									上传
								</button>
							<button title="修改app信息" class="btn btn-warning minbtn">
									修改
								</button>
							<button title="刪除app信息" class="btn btn-danger minbtn">
						 		删除
								</button>
							<button  class="btn btn-success minbtn"  ng-click="btnAddAppHistory(detail)" style="margin: 0px;">
								打包记录
							</button>	
						</td>
					</tr>
				</tbody>
			</table>
		</div>

	</body>