<!--<div class="pageContent ng-scope" ng-app="appConsole" ng-controller="appupdateController">-->
<div class="pageContent ng-scope">
		<div class="list-group">
			<div class="list-group-item">
				<h1 class="list-group-item-heading h1">
					app更新管理
				</h1>
			</div>
			<div class="list-group-item">
				<form class="form-inline ng-pristine ng-valid ng-submitted">
	                <div class="form-group">
	                	<button ng-click="btnBack()" title="返回" class="btn btn-info">返回</button>
	                    <button ng-click="btnRefreshInfo()" title="刷新信息" class="btn btn-primary">刷新信息</button>
	                </div>
	                <div class="form-group pull-right">
	                	<button ng-click="btnAddAppUpdateInfo()" title="添加app更新信息" class="btn btn-success">添加app更新信息</button>
	                </div>
	                
				</form>
			</div>
			<div class="list-group-item">
				<form class="form-inline ng-pristine ng-valid" style="display: inline-table;">
					<div class="form-group" style="margin-right: 25px;">
					    <label class="form-label text-right">
					    	app中文名：<span ng-bind="tempAppInfo.cname" style="font-weight: 100;" class="ng-binding">{{tempAppInfo.cname}}</span>
					    </label>
					</div>
					<div class="form-group" style="margin-right: 25px;">
					    <label class="form-label text-right">
					    	app英文名：<span ng-bind="tempAppInfo.name" style="font-weight: 100;" class="ng-binding">{{tempAppInfo.name}}</span>
					    </label>
					</div>
					<div class="form-group" style="margin-right: 25px;">
					    <label class="form-label text-right">
					    	系统类型：<span ng-bind="tempAppInfo.os == 'i'?'ios':'android'" style="font-weight: 100;" class="ng-binding">{{tempAppInfo.os}}</span>
					    </label>
					</div>
					<div class="form-group" style="margin-right: 25px;">
					    <label class="form-label text-right">
					    	pkgid：<span ng-bind="tempAppInfo.pkgid" style="font-weight: 100;" class="ng-binding">{{tempAppInfo.pkgid}}</span>
					    </label>
					</div>
				</form>
			</div>
			<div class="list-group-item">
				<table class="table table-bordered table-hover ">
					<thead>
						<tr class="info">
							<th class="col-lg-1 col-sm-1 col-xs-1">版本号</th>
							<th class="col-lg-1 col-sm-1 col-xs-1">版本名</th>
							<th class="col-lg-2 col-sm-2 col-xs-2">更新英文名</th>
							<th class="col-lg-2 col-sm-2 col-xs-2">更新中文名</th>
							<th class="col-lg-1 col-sm-1 col-xs-1">apk大小</th>
							<th class="col-lg-3 col-sm-3 col-xs-3">apk下载路径</th>
							<th class="col-lg-2 col-sm-2 col-xs-2">操作</th>
						</tr>
					</thead>
					<tbody>
						<!-- ngRepeat: app in appUpdateList track by $index --><tr ng-dblclick="btnEditAppUpdateInfo(app)" ng-repeat="app in appUpdateList track by $index" class="tr_height ng-scope">
							<td ng-bind="app.vcode" class="ng-binding">6</td>
							<td ng-bind="app.vname" class="ng-binding">1.0.0</td>
							<td ng-bind="app.fname" class="ng-binding">demo-ihrss-2017-vc6-vn1.0.0</td>
							<td ng-bind="app.fcname" class="ng-binding">掌上人社Demo-vc6-vn1.0.0</td>
							<td ng-bind="(app.size / (1024 * 1024)).toFixed(2) + 'MB'" class="ng-binding">37.94MB</td>
							<td ng-bind="app.url" class="ng-binding">http://download.chinanorth.cloudapp.chinacloudapi.cn/demo/demo-ihrss-2017/20171201/demo-ihrss-2017-vc6-vn1.0.0.apk</td>
							<td class="td_padding">
								<button ng-click="btnEditAppUpdateInfo(app, $index)" title="编辑信息" class="btn btn-info">
									<i class="glyphicon glyphicon-pencil"></i>
								</button>
								<button ng-click="btnDelAppUpdateInfo(app)" title="删除信息" class="btn btn-danger">
									<i class="glyphicon glyphicon-trash"></i>
								</button>
								<button ng-click="btnDownLoad(app)" title="下载" class="btn btn-success">
									<i class="glyphicon glyphicon-download"></i>
								</button>
							</td>
						</tr><!-- end ngRepeat: app in appUpdateList track by $index -->
					</tbody>
				</table>
			</div>
		</div>
		<div id="appUpdateModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title ng-binding" ng-bind="(btnSaveType == 'add'?'添加':'修改') + 'app更新信息'">添加app更新信息</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label><span class="mustInput">*</span>app版本号:</label>
							<input ng-disabled="btnSaveType == 'edit'" ng-model="appUpdateInfo.vcode" placeholder="请输入app版本号..." class="form-control required ng-pristine ng-untouched ng-valid" aria-required="true" type="text">
						</div>
						<div class="form-group">
							<label><span class="mustInput">*</span>app版本名:</label>
							<input ng-disabled="btnSaveType == 'edit'" ng-model="appUpdateInfo.vname" placeholder="请输入app版本名..." class="form-control required ng-pristine ng-untouched ng-valid" aria-required="true" type="text">
						</div>
						<div class="form-group">
							<label><span class="mustInput">*</span>更新信息:</label>
							<input ng-disabled="!showInfo &amp;&amp; btnSaveType == 'edit'" ng-model="appUpdateInfo.comment" placeholder="请输入更新信息..." class="form-control required ng-pristine ng-untouched ng-valid" aria-required="true" type="text">
						</div>
						<!-- ngIf: btnSaveType == 'edit' -->
						<div class="form-group">
							<label>是否强制更新:</label>
							<input ng-disabled="!showInfo &amp;&amp; btnSaveType == 'edit'" ng-model="appUpdateInfo.force" style="width: 30px;height: 30px;display: block;" class="required ng-pristine ng-untouched ng-valid" aria-required="true" type="checkbox">
						</div>
						<div class="form-group">
							<label>是否回归正常版本:</label>
							<input ng-click="btnRegression()" ng-model="appUpdateInfo.regression" style="width: 30px;height: 30px;display: block;" class="required ng-pristine ng-untouched ng-valid" aria-required="true" type="checkbox">
						</div>
						<div class="form-group">
							<label><span class="mustInput">*</span>上传apk:</label>
							<input id="apkFile" class="form-control" onchange="angular.element(this).scope().handleFile(this.files)" type="file">
						</div>
						<!--<div class="form-group">
							<label>app状态描述:</label>
							<input type="text" ng-model = "appUpdateInfo.desc" placeholder="请输入app状态描述..." class="form-control required" aria-required="true">
						</div>-->
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">	关	闭</button>
						<button id="btnSave" data-loading-text="Loading..." autocomplete="off" ng-click="btnSaveAppUpdateInfo()" class="btn btn-primary ng-binding" ng-bind="btnSaveType == 'add'?'保	存':'修	改'">保	存</button>
					</div>
				</div>
			</div>
		</div>
	</div>
