.btn-app {
	margin-top: 20px;
	margin-left: 20px;
	padding: 5px 10px 5px 10px;
	background-color: #4AAF46;
	color: white;
	border: none;
	-moz-border-radius: 5px;
	/* Gecko browsers */
	-webkit-border-radius: 5px;
	/* Webkit browsers */
	border-radius: 5px;
	/* W3C syntax */
}

.btn-group {
	margin-top: 20px;
	margin-right: 20px;
	padding: 5px 10px 5px 10px;
	background-color: #2563AB;
	color: white;
	float: right;
	border: none;
	-moz-border-radius: 5px;
	/* Gecko browsers */
	-webkit-border-radius: 5px;
	/* Webkit browsers */
	border-radius: 5px;
	/* W3C syntax */
}


.btn_a:link {
 color: white; /*连接默认的颜色变化*/
}
.btn_a:visited {
 color: white; /*连接访问的颜色变化*/
}
.btn_a:hover {
 color: white; /*鼠标经过的颜色变化*/
 text-decoration: none;
}
.btn_a:active { 
 color: white; /*鼠标按下的颜色变化*/
}

.mustInput{
	color: red;
}

.form-title{
	font-size: 16px;
	font-weight: 600;
	margin: 10px 0;
}
.form-title:before{
	content: "";
	width: 4px;
	height: 16px;
	display: inline-block;
	background: #3385FF;
	margin-right: 8px;
	vertical-align: middle;
}

.dis-flex{
	display: flex;
}
.flex1{
	flex: 1;
}
.flex4{
	flex: 4;
}
.text-left{
	text-align: left;
}
